<footer>
	<!--<nav class="navbar">-->
		<!--<ul class="navbar-nav">-->
		<nav>
			<ul class="clearfix">
			<li class="nav-item"><a href="http://www.linkedin.com/company/great-ideaz-on-demand"><i class="fa fa-linkedin-square" style="font-size:2em;color:white"></i></a></li>
			<li class="nav-item"><a href="index.php?action=about">About us</a></li>
			<li class="nav-item"><a href="index.php?action=contacts">Contact us</a></li>
			<li class="nav-item"><a href="index.php?action=main">Home</a></li>
		</ul>
	</nav>	
</footer>
<!--/footer navbar-->
<script type="text/javascript" src="js/javascript.js"></script>

</html>
