<!DOCTYPE html>
<html>
<head>
	<title>GreatIdeaz</title>
	<!--<link rel="stylesheet" type="text/css" href="bootstrap.min.css">-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body>

<!--<div class="container">-->

<div class="container-fluid">

  <div class="jumbotron"> 
  </div>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <!--<img src="bird.jpg" alt="logo" style="width:40px;">-->
    <img  class="img-responsive logo" src="img/GreatIdeaz-Logo@2.png" alt="GreatIdeaz logo" >
  </a>
  

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="index.php?action=main">Home</a></li>
    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="index.php?action=services" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="index.php?action=tech_strat_arch"> Technology Strategy & Architecture</a>
          <a class="dropdown-item" href="index.php?action=outsource">Outsourcing & Transformation</a>
          <a class="dropdown-item" href="index.php?action=managedd_services">Managed Services</a>
          <a class="dropdown-item" href="index.php?action=tailored">Tailored Application Solutions</a>
          <a class="dropdown-item" href="index.php?action=pragmatic">Pragmatic Assessments</a>
          <a class="dropdown-item" href="index.php?action=virtualiztion"> Virtualization Advisory Services</a>
        </div>
     </li>
    <li class="nav-item"><a class="nav-link" href="index.php?action=clients">Clients</a></li>
    <li class="nav-item"><a class="nav-link" href="index.php?action=contacts">Contact us</a></li>
    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="index.php?action=about" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About us</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="index.php?action=industryexp">Industry Experience</a>
          <a class="dropdown-item" href="index.php?action=team">Our team</a>
          <a class="dropdown-item" href="index.php?action=manifesto">Great Ideaz Manifesto</a>
          <a class="dropdown-item" href="index.php?action=howtoengage">How to Engage</a>
        </div>
     </li>
 	</ul>
 
   <ul class="navbar-nav ml-auto">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    	</form>
 	</ul>
</nav>
